
@use 'variable'as style;
@use 'mixin' as set;
.header{
   h5{
      color:style.$text_color;
   }
   .btn{
      width: 12rem;
      padding: 1.3rem;;
      border: 0;
      outline: 0;
      transition:.3s linear;;
      &:hover{
         background-color: black!important;
         color:#FFFFFF !important;
      }
   }
}